{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block content %}
<h3>Networks</h3>

<a href="{% url "network_create" networklist.0.poolname %}" class="btn btn-xs btn-success">Create new Network</a>
<hr>
<table class="table table-striped table-condensed table-hover">
<thead>
<tr>
<th>Name</th><th>Description</th>
</tr>
</thead>
<tbody>
{% for network in networklist  %}
<tr>
<td><a href="{% url "network_details" network.poolname network.uuid %}" > {{ network.name }}</a></td><td>{{ network.description }}</td><td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock%}

