{% extends "base.html" %}

{% load i18n %}
{% load json2html %}
{% load url from future %}

{% block content %}
<h3>Network Details</h3>

<a href="{% url "network_edit" networkdetails.0.poolname networkdetails.0.uuid %}" class="btn btn-xs btn-success">Edit Network Settings</a>

<hr>
{% for item in networkdetails %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Simple Details
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

         <table class="table table-striped table-condensed table-hover">
            <thead>
               <tr>
                  <th>Name</th><th>Value</th>
               </tr>
            </thead>
            <tbody>
					<tr><td>Description</td><td>{{ item.description }}</td></tr>
					<tr><td>UUID</td><td>{{ item.uuid }}</td></tr>
					<tr><td>MTU</td><td>{{ item.mtu }}</td></tr>
					<tr><td>Tags</td><td>{{ item.tags|json2html }}</td></tr>
					<tr><td>Attached to VMs:</td><td><ul>
						{% for vm in item.vms %}
							<li><a href="{% url "vm_details" item.poolname vm.uuid %}" > {{ vm.name }}</a></li>
						{% endfor %}
					</ul></td></tr>
            </tbody>
         </table>


      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock%}
