{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h3>VMs</h3>

<a href="{% url "vm_create" %}" class="btn btn-success pull-right">Create new VM</a>

<table class="table table-striped table-condensed table-hover">
<thead>
<tr>
<th>Name</th><th>Power State</th><th>&nbsp;</th>
</tr>
</thead>
<tbody>
{% for vm in vms  %}
<tr>
<td>{{ vm.name }}</td><td>{{ vm.power_state}}</td><td>

{% if vm.power_state == 'Halted' or vm.power_state == 'Paused' or vm.power_state == 'Suspended' %}
<form method="POST" action="{% url 'vm_start' %}">
	{% csrf_token %}
	<input type="hidden" name="uuid" value="{{ vm.uuid }}">
	<input type="submit" class="btn btn-success" value="Start">
</form>
{% elif vm.power_state == 'Running' %}
<form method="POST" action="{% url 'vm_restart' %}" class="action-form">
	{% csrf_token %}
	<input type="hidden" name="uuid" value="{{ vm.uuid }}">
	<input type="submit" class="btn btn-warning" value="Restart">
</form>

<form method="POST" action="{% url 'vm_stop' %}" class="action-form">
	{% csrf_token %}
	<input type="hidden" name="uuid" value="{{ vm.uuid }}">
	<input type="submit" class="btn btn-danger" value="Stop">
</form>

{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock%}

