{% extends "base.html" %}

{% load bootstrap3 %}
{% load url from future %}
{% load i18n %}

{% block content %}
<h3>Virtual Machines</h3>

<form action="" method="post" class="form-vertical" role="form">
 {% csrf_token %}
 {% bootstrap_form form layout="vertical" %}
<button type="submit" class="btn btn-primary btn-xs"> Submit</button>
</form>

<hr>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>Name</th><th>Powerstate</th><th>Poolname</th>
		</tr>
	</thead>
	<tbody>


	{% for vm in vmlist %}
		<tr>
			<td><a href="{% url "vm_details" vm.poolname vm.uuid %}" > {{ vm.name }}</a></td>
			<td class="{% if vm.power_state = 'Running' %}text-success{% endif %}">{{ vm.power_state}}</td>
			<td class="text-muted">{{ vm.poolname }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock%}
