{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block content %}
<h3>Virtual Machines</h3>
<a href="{% url "vm_create" poolname %}" class="btn btn-success">Create new VM</a>
<hr>
<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>Name</th><th>Power State</th>
		</tr>
	</thead>
	<tbody>

	{% for vm in vms  %}
		<tr>
			<td><a href="/pool/{{ poolname }}/vm/details/{{ vm.uuid }}/" > {{ vm.name }}</a></td><td class="{% if vm.power_state = 'Running' %}text-success{% endif %}">{{ vm.power_state}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock%}
